@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Source+Serif+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #000000 #c1c1c1;

}

main,
header,
footer {
    overflow: hidden;
}

/*Loader*/
.loader {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    clip-path: circle(190% at 100% 0);
    transition: clip-path 0.5 ease-in-out;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(40, 38, 41);
    opacity: 1;
    background: rgb(40, 38, 41);
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.loader-out {
    clip-path: circle(0% at 100% 0);
}

/*scrollbar*/
html::-webkit-scrollbar {
    width: 10px;
    background-color: #c1c1c1;
}

html::-webkit-scrollbar-thumb {
    background-color: #000;
}

html::-webkit-scrollbar-track {
    border: none;
    background-color: #c1c1c1;
}

/*navbar*/
.menu-opener {
    color: #fff;
}

.menu-opener-expander {
    visibility: visible;
    color: #fff;
}

.menu-opener-expander circle {
    fill: #fff;
}

/********************************HERO */
.hero {
    padding: 0;
}

#__anni_navbar_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: row;
    padding: 1rem 2rem;
}


/********************************navbar mobile*/
#__anni_navbar_mobile {
    background: #fff;
    width: 100%;
    height: 5rem;
}

.__anni_brand_menu_mobile .__anni_language_dropdown {
    color: #000;
    font-size: 0.8rem;
}

.__anni_brand_menu_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    margin-right: 0;
}




.__anni_brand_menu_mobile img {
    width: 5rem;
    height: 100%;
    margin-left: .5rem;
}

.__anni_brand_menu_mobile_container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.__anni_brand_menu_mobile_container img:first-child {
    width: 1.8rem;
}

@media screen and (max-width: 844px) {
    #__anni_navbar_mobile {
        display: none;

    }

}

@media screen and (min-width: 844px) {
    #__anni_navbar_mobile {
        display: none;
    }
}

.mkdf-mobile-nav {

    display: block;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}

.mkdf-mobile-header .mkdf-grid {
    height: 100%;
}

.mkdf-mobile-header .mkdf-mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li {
    position: relative;
    padding: 0;
    margin: 0;
    -webkit-transform: translateZ(0);
}

.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid>ul>li>a,
.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid>ul>li>h6 {
    padding-left: 4px;
    font-family: "Source Serif Pro", serif;
    font-weight: 700;
    font-size: 17px;
}

/*********************************** section number*/
.__anni_bg_text {
    line-height: 1;
}

.__anni_char_mask {
    width: 5rem;
    font-kerning: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

.__anni_show {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 250px;
    color: #D9D9D9;
    overflow: hidden;
    vertical-align: middle;
    /*/display: inline-block;*/
    -webkit-transform: translate3d(-120%, 0, 0);
    -moz-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
    -webkit-transition: -webkit-transform 2s cubic-bezier(.07, .98, 0, .96);
    -moz-transition: -moz-transform 2s cubic-bezier(.07, .98, 0, .96);
    transition: transform 2s cubic-bezier(.07, .98, 0, .96);
    will-change: transform;
}

/************************ section number*/



/***************************sections styles*/

.___pages_section_p {
    font-family: 'Source Serif Pro';
    font-size: 1.85125rem;
    margin-bottom: 1rem;
}

.___pages_section_h2 {
    font-family: 'Source Serif Pro';
    font-size: 2rem;
    margin-bottom: 2.2rem;

}

.___section_h2 {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 40px;
    margin-bottom: 2.8rem;

}

.___pages_section_number_frame,
.___section_number_frame {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 15rem;
    line-height: 10.9rem;
    display: inline-block;
    color: #FFFFFF;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.___pages_section_number_frame {
    text-align: right;
}


@media only screen and (max-width:1988px) {

    .___pages_section_h2,
    .___section_h2 {
        font-size: 2.2rem;
    }

    .__contact .___section_h2,
    .__appointment .___section_h2 {
        margin-top: 2rem;
    }

}

@media only screen and (max-width: 1657px) {
    .___section_h2 {
        font-size: 2rem;
    }
}

.___pages_section_number,
.___section_number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 15rem;
    line-height: 10.9rem;
    color: #D9D9D9;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}

.___pages_section_number {
    text-align: left;

}

@media only screen and (max-width:1988px) {

    .__ourprocess .__welove_content,
    .__prices .__welove_content,
    .__postlaunch .__welove_content {
        padding-right: 3rem;

    }

    .__portfolio .__portfolio_content,
    .__pages-FAQ .__welove_content,
    .__contact .__welove_content {
        padding-left: 3rem;
    }

    .___pages_section_number,
    .___pages_section_number_frame,
    .___section_number {
        font-size: 18.3rem;
        line-height: 12.65rem;
    }

    .__FAQ .___section_number {
        font-size: 15.3rem;

    }

    .___section_number_frame {
        font-size: 19rem;
        line-height: 13.65rem;
    }

    .__pages-FAQ .__welove_content {
        padding-right: 0;
    }
}

@media only screen and (max-width: 1657px) {

    .___section_number,
    .___pages_section_number,
    .___pages_section_number_frame,
    .___section_number_frame {
        font-size: 15rem;
    }

    .__pages-FAQ .___pages_section_number {
        font-size: 14.2rem;
    }
}

@media screen and (max-width: 1480px) {

    .__portfolio_content,
    .__pages-FAQ .__welove_content {
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 1368px) {

    .___pages_section_number_frame,
    .___pages_section_number,
    .__pages-FAQ .___pages_section_number {
        font-size: 12rem;
        line-height: 9rem;
    }

    .___section_number,
    .___section_number_frame {
        line-height: 8rem;
        font-size: 12rem;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1200px) {


    .___section_number,
    .___section_number_frame {
        line-height: 8rem;
        font-size: 12rem;
    }

}

@media only screen and (max-width: 1024px) {

    .___pages_section_number_frame,
    .___pages_section_number_frame, .___pages_section_number, .__pages-FAQ .___pages_section_number,
    .___pages_section_number {
        font-size: 10rem;
        line-height: 7rem;
    }

    .___pages_section_h2 {
        font-size: 1.8rem;
    }

    .___pages_section_p {
        font-size: 1.5125rem;
    }
}

@media only screen and (max-width:820px) {

    .___section_number_frame,
    .___section_number {
        display: none;
    }

    .___pages_section_number_frame,
    .___pages_section_number {
        display: none;
    }

    .__ourprocess .__welove_content,
    .__prices .__welove_content,
    .__postlaunch .__welove_content {
        padding-right: 0.75rem;

    }

    .__portfolio .__portfolio_content,
    .__pages-FAQ .__welove_content,
    .__contact .__welove_content {
        padding-left: 0.75rem;
    }

}

.___section_p {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(2rem, 2.5rem, 3.2rem);
    margin-bottom: 0;

}

@media only screen and (max-width:1988px) {
    .___section_p {
        font-size: 3.2rem;
    }

    .__wholove .___section_p {
        font-size: 3.15rem;
    }

}

.__anni_section_bg_text span {
    margin: 0;
    width: 2.6rem;
}

.__anni_section_bg_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 15.625rem;
    line-height: 1;
    display: inline-block;
    color: #d6d6d6;

}

.__section_nt_line {
    background-color: #000;
    height: 0.125rem;
    width: 5rem;
    display: inline-block;
}

@media only screen and (max-width: 425px) {
    .__section_nt_line {
        width: 2rem;
    }

    .___section_h2 {
        font-size: 1.5rem;
    }

    .___pages_section_p {
        font-size: 1.2rem;

    }

    .___pages_section_h2 {
        font-size: 1.3rem;
        font-weight: 600;
    }

}




/*********************side menu*************************/
#__anni_side_menu_area::-webkit-scrollbar {
    display: none;
}

.__anni_side_menu_area_display {
    display: block !important;
    visibility: visible !important;
    -webkit-transition: all 1s cubic-bezier(0.79, 0.33, 0.14, 0.53);
    transition: all 1s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}



#__anni_side_menu_area {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(53, 53, 53);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/ opacity */

    touch-action: auto;
    -ms-touch-action: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */


}

#__anni_side_menu_area>div:first-child {
    background: url("/assets/img/menu_bg.jpg");
    margin-top: 1.5rem;
    /* Location of the box */
    margin-right: 1.5rem;
    /* Location of the box */
    right: 2%;
    
    position: fixed;
    width: 42rem;
    min-height: 45vh;
    padding: 1.5rem 3rem;
    background-color: #000;
    overflow: hidden;
    z-index: 99999;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    text-align: left;
    -webkit-transition: all .6s cubic-bezier(.77, 0, .175, 1);
    -moz-transition: all .6s cubic-bezier(.77, 0, .175, 1);
    transition: all .6s cubic-bezier(.77, 0, .175, 1);
    font-family: 'Source Serif Pro';
    color: #fff;
    overflow-y: scroll !important;
    overflow-anchor: scroll;
    -ms-overflow-style: scroll;
    touch-action: auto;
    -ms-touch-action: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#__anni_side_menu_area div::-webkit-scrollbar {
    display: none;
}

.horizTranslate {
    -webkit-transition: all 1.3s cubic-bezier(0.8, 0.08, 0.14, 0.53);
    transition: all 1.3s cubic-bezier(0.8, 0.08, 0.14, 0.53);
}

.__anni_header_side_menu_area {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#__anni_icon_close {
    margin-right: 1.2rem;
}

.__anni_custom_menu_font a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat';
    opacity: .5;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;

}

.__anni_custom_menu_font a:hover {
    text-decoration: none;

    opacity: 9;

}

.__anni_custom_font_holder {
    font-weight: 500;
    font-size: 4.55rem;
    margin-bottom: 0;
}


/*********************navbar*************************/

.main-logo {
    margin-left: 0.5625rem;
    padding-bottom: 0.5625rem;
}

.__anni_brand_menu a {
    text-decoration: none;
    margin: 0;
    margin-block: 0;
    padding: 0;
    line-height: 1px;
}

.__anni_brand_menu {
    background: #fff;
}

#__anni_hero {

    padding-left: 17.8rem;
    padding-right: 17.8rem;
    background-size: cover;
    min-height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.__anni_navbar_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;


}

.__anni_navbar_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 2rem;
}

.header-title h1 {
    font-size: 5.125rem;
    font-family: "Source Serif Pro", serif;
    /* margin: auto; */

}

.header-title h2 {
    font-family: 'Montserrat';
    font-size: 1.8625rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.header-title {
    background: #fff;
    width: 92.3125rem;
    height: 17.625rem;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 2rem 5rem;
}

#hero {
    background: url(/assets/img/Frame3.png) no-repeat center center;
    background-size: cover;
}

.__anni_hero_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 90rem;
    z-index: -99999;
}

@media screen and (max-width: 1944px) {
    #__anni_hero {
        padding-left: 0rem;
        padding-right: 0rem;
        min-height: 45.25rem;
    }

}

@media screen and (max-width: 1366px) {
    .header-title {
        width: 55.3125rem;
    }
}

@media screen and (max-width: 1200px) {
    .main-logo {
        padding: 0;
    }
    #__anni_side_menu_area>div:first-child {
        width: 37rem;
        min-height: 29vh;
    }
    .header-title h2 {
        font-size: 1.2rem;
    }
    .__anni_hero_bg {
         min-height: 100%;
         min-height: 42rem;
    }
    #__anni_hero {

        min-height: 33.25rem;
    }
}

@media screen and (max-height: 900px) {
    .__anni_custom_font_holder {
        font-size: 1.85125rem;
    }
}

@media screen and (max-width: 844px) {
    #__anni_hero {
        min-height: 30rem;
    }

    .__anni_brand_menu img:first-child {
        width: 1.8rem;
    }
    #__anni_side_menu_area>div:first-child {
        padding: 1.7rem 2rem;
    }
    .__anni_header_side_menu_area{
        margin-bottom: .5rem;
    }
    .main-logo {
        padding: 0;
        width: 5rem;
        margin: 0 0 .15rem 0.5rem !important;

    }

    .__anni_language_dropdown {
        font-size: 0.8rem !important;
    }

    .__anni_navbar_right {
        column-gap: 2.3rem;
    }

    #__anni_navbar_ {
        padding: .5rem .5rem .5rem 1rem !important;
        background: #fff;
    }

    .__anni_brand_menu a {
        display: flex;
        align-content: center;
        align-items: center;

    }

    .header-title {
        width: 39.3125rem;
    }

    .header-title {
        padding: 2rem 2rem;
    }
}
@media screen and (max-width: 844px) {
    #__anni_navbar {
        display: block;
    }

    #__anni_side_menu_area {
        position: static;
        min-height: 30vh;
    }
    #__anni_side_menu_area>div:first-child {
        position: static;
        background: url(/assets/img/menu_bg.jpg);
        margin-top: 0rem;
        margin-right: 0rem;
        width: 100%;
        height: 100%;
        min-height: max-content;
        background-size: cover;
    }
    .__anni_header_side_menu_area .__anni_brand_menu {
        display: none;
    }
    .__anni_custom_font_holder {
        font-size: 1.85125rem;
    }

}


@media screen and (max-width: 480px) {
    .header-title {
        width: 19.3125rem;
        height: 17.625rem;
    }

    .header-title h2 {
        font-size: .56rem;
    }

    .header-title h1     {
        font-size: 2.76rem;
    }

}

.__anni_navbar_container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}





#__anni_close_side_menu {
    text-decoration: none;
    color: #fff;
    font-size: 1.0625rem;
    cursor: pointer;
}

#__anni_close_side_menu svg {
    fill: #fff;
}

#__anni_menu_opener svg>circle {
    fill: #fff;
}

._anni_menu_svg_path {
    /*position: relative;*/
    display: inline-block;
    /*vertical-align: middle;*/
}

._anni_menu_svg_path>span {
    /*display: flex!important;*/
    height: 65px;
    justify-content: center;
    left: 50% !important;
    /*position: absolute!important;*/
    top: 50% !important;
    width: 65px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

._anni_menu_svg_path>span svg {
    align-self: center;
}

._anni_menu_svg_path>span svg circle {
    fill: #fff;
}

._anni_menu_svg_path circle {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 2s cubic-bezier(.07, .98, 0, .96);
    -moz-transition: -moz-transform 2s cubic-bezier(.07, .98, 0, .96);
    transition: transform 2s cubic-bezier(.07, .98, 0, .96);
}

._anni_menu_svg_path rect:nth-child(2) {
    -webkit-transform-origin: 0 33%;
    -moz-transform-origin: 0 33%;
    transform-origin: 0 33%;
    -webkit-transition: -webkit-transform .15s .1s;
    -moz-transition: -moz-transform .15s .1s;
    transition: transform .15s .1s;
}

._anni_menu_svg_path rect:nth-child(3) {
    -webkit-transform-origin: 0 70%;
    -moz-transform-origin: 0 70%;
    transform-origin: 0 70%;
    -webkit-transition: -webkit-transform .15s;
    -moz-transition: -moz-transform .15s;
    transition: transform .15s;
}

._anni_menu_svg_path rect:nth-child(4) {
    -webkit-transform-origin: 0 35%;
    -moz-transform-origin: 0 35%;
    transform-origin: 0 35%;
    -webkit-transition: -webkit-transform .15s 50ms;
    -moz-transition: -moz-transform .15s 50ms;
    transition: transform .15s 50ms;
}

._anni_menu_svg_path rect:nth-child(5) {
    -webkit-transform-origin: 0 68%;
    -moz-transform-origin: 0 68%;
    transform-origin: 0 68%;
    -webkit-transition: -webkit-transform .15s .15s;
    -moz-transition: -moz-transform .15s .15s;
    transition: transform .15s .15s;
}

._anni_menu_svg_path>span svg rect {
    fill: #000;
}

._anni_menu_svg_path:not(.mkdf-mobile-menu-opener-svg-path):hover rect:nth-child(2),
body[class*="opened"] ._anni_menu_svg_path rect:nth-child(2) {
    -webkit-transform: scaleY(1.51);
    -moz-transform: scaleY(1.51);
    transform: scaleY(1.51);
}

._anni_menu_svg_path:not(.mkdf-mobile-menu-opener-svg-path):hover rect:nth-child(3),
._anni_menu_svg_path:not(.mkdf-mobile-menu-opener-svg-path):hover rect:nth-child(4),
body[class*="opened"] ._anni_menu_svg_path rect:nth-child(3),
body[class*="opened"] ._anni_menu_svg_path rect:nth-child(4) {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    transform: scaleY(0);
}

._anni_menu_svg_path:not(.mkdf-mobile-menu-opener-svg-path):hover rect:nth-child(3),
._anni_menu_svg_path:not(.mkdf-mobile-menu-opener-svg-path):hover rect:nth-child(4),
body[class*="opened"] ._anni_menu_svg_path rect:nth-child(3),
body[class*="opened"] ._anni_menu_svg_path rect:nth-child(4) {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    transform: scaleY(0);
}

._anni_menu_svg_path:not(.mkdf-mobile-menu-opener-svg-path):hover rect:nth-child(5),
body[class*="opened"] ._anni_menu_svg_path rect:nth-child(5) {
    -webkit-transform: scaleY(2);
    -moz-transform: scaleY(2);
    transform: scaleY(2);
}

._anni_menu_svg_path:not(.mkdf-mobile-menu-opener-svg-path):hover .mkdf-fullscreen-menu-opener-icon rect:last-child,
body[class*="opened"] ._anni_menu_svg_path .mkdf-fullscreen-menu-opener-icon rect:last-child {
    -webkit-animation: mkdfSVGLine .7s cubic-bezier(.07, .98, 0, .96);
    -moz-animation: mkdfSVGLine .7s cubic-bezier(.07, .98, 0, .96);
    animation: mkdfSVGLine .7s cubic-bezier(.07, .98, 0, .96);
}

@keyframes mkdfSVGLine {
    0% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 50% 33%;
        -moz-transform-origin: 50% 33%;
        transform-origin: 50% 33%;
    }

    34% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 33%;
        -moz-transform-origin: 50% 33%;
        transform-origin: 50% 33%;
    }

    35% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        transform: scaleY(0);
    }

    36% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 66%;
        -moz-transform-origin: 50% 66%;
        transform-origin: 50% 66%;
    }

    100% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 50% 66%;
        -moz-transform-origin: 50% 66%;
        transform-origin: 50% 66%;
    }
}

._anni_menu_svg_path:not(.mkdf-mobile-menu-opener-svg-path):hover circle,
._anni_menu_svg_path:hover circle {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    transform: scale(1.6);
}

._anni_menu_svg_path:hover>.__anni_menu_opner_icon .st0:nth-child(3) {
    animation: grow .5s forwards;
}

@keyframes grow {
    100% {
        height: 23;
    }
}

/*********************************btns */
.__anni_btn_outline:hover {
    background-color: #fff;
    border: solid 2px #000;
}

/*------------------------------------*/
/*------ Basic Underline Styles ------*/
/*------------------------------------*/

.normal-underline_invert,
.custom-underline_invert {
    position: relative;
    display: inline-block;
    line-height: 4rem;


    text-align: center;
}

.normal-underline_invert,
.normal-underline_invert:hover {
    color: #000;
    text-decoration: underline;
}

.custom-underline_invert,
.custom-underline_invert:hover,
.custom-underline_invert:focus,
.custom-underline_invert:active {
    color: #000;
    text-decoration: none;


}

.custom-underline_invert::after {
    content: "";
    position: absolute;
}

/***********************************btns */
.__anni_btn_outline span {
    font-weight: 600;

}

/*-- (box-e) ---*/
.box-e_invert .custom-underline_invert::after {
    top: 65%;
    height: 2px;
    width: -0%;
    left: 0%;
    border-bottom: dotted 0.125rem #000;

    transition: 0.5s ease all .3s;
}

.box-e_invert:hover .custom-underline_invert::after {
    width: 100%;
    transition: 0.3s ease all;
}

.__black-btn {
    margin-right: 0.15rem;
    border-radius: 0;
    width: 13.625rem;
    height: 4.5rem;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 24px;
    /* identical to box height, or 126% */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: #000000;
    border-color: #000;
}


.normal-underline,
.custom_underline {
    position: relative;
    display: inline-block;
    line-height: 4rem;


}

.custom-underline,
.custom-underline:hover {
    border-bottom: dotted 0.125rem #fff;
}

.custom_underline,
.custom_underline:hover,
.custom_underline:focus,
.custom_underline:active {
    color: #fff;

}

.custom_underline::after {
    content: "";
    position: absolute;
}

.__contact_form_submit:hover {
    background-color: #000;
    border-color: #000;

}

.box_e .custom_underline::after {
    top: 65%;
    height: 2px;
    width: 0%;
    left: 0%;
    border-bottom: dotted 0.125rem #fff;
    transition: 0.5s ease all .3s;
}

.box_e:hover .custom_underline::after {
    width: 100%;
    transition: 0.3s ease all reverse;
}

.__anni_btn_outline {
    text-transform: uppercase;
    font-family: 'Montserrat';
    border-radius: 0;
    border: solid 0.125rem #000;
    font-weight: 600;
    font-size: 1.1rem;
    min-width: 13.625rem;
    height: 4.5rem;
    padding: 0rem 2rem;

}

.__anni_btn_outline img {
    width: 1.5rem;
}


@media screen and (min-width: 1600px) {
    .__anni_btn_outline {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 820px) {
    .__black-btn {
        width: 100%;
        margin-bottom: 2rem;
    }
}

/******************************Dropdown languaje*/
.__anni_language_dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Montserrat';
    color: #000;

    font-size: 1.0625rem;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}



.__anni_language_dropdown span:hover {
    font-weight: 600;
    opacity: 0.3;
}

.__anni_language_dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    color: #000;
    text-align: left;
    z-index: 1;
    right: 0;
}

.__anni_language_dropdown p {
    margin-top: 1rem;
    cursor: pointer;
    padding: 12px 16px;
}

.__anni_language_dropdown p:hover {
    background: #000;
    color: #D9D9D9;
    font-weight: 600;
}

.__anni_language_dropdown:hover .__anni_language_dropdown-content {
    display: block;
}



/************************up btn */
#__anni_-back-to-top.on {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    visibility: visible;
    -webkit-transition: 1s cubic-bezier(.07, .98, 0, .96);
    -moz-transition: 1s cubic-bezier(.07, .98, 0, .96);
    transition: 1s cubic-bezier(.07, .98, 0, .96);
}


#__anni_-back-to-top.off {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    visibility: hidden;
}


#__anni_back-to-top {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 21px;
    bottom: 42px;
    z-index: 1000;
    visibility: hidden;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    overflow: hidden;
}



#__anni_-back-to-top>span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-radius: 50%;
    -webkit-transition: border-radius 1s cubic-bezier(.07, .98, 0, .96), background-color 0s 1s;
    -moz-transition: border-radius 1s cubic-bezier(.07, .98, 0, .96), background-color 0s 1s;
    transition: border-radius 1s cubic-bezier(.07, .98, 0, .96), background-color 0s 1s;
}

#__anni_-back-to-top.on {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    visibility: visible;
    -webkit-transition: 1s cubic-bezier(.07, .98, 0, .96);
    -moz-transition: 1s cubic-bezier(.07, .98, 0, .96);
    transition: 1s cubic-bezier(.07, .98, 0, .96);
}

#__anni_-back-to-top {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 21px;
    bottom: 42px;
    z-index: 10000;
    visibility: hidden;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    overflow: hidden;
}

#__anni_-back-to-top.__anni_-invert>span:before {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    -webkit-transition: 0s 1s;
    -moz-transition: 0s 1s;
    transition: 0s 1s;
    z-index: 5;
}

#__anni_-back-to-top>span:before {
    -webkit-clip-path: inset(100% 0 0 0);
    clip-path: inset(100% 0 0 0);
}

#__anni_-back-to-top>span:after,
#__anni_-back-to-top>span:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    border-radius: 50%;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#__anni_-back-to-top.on #__anni_-arrow-1 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(.07, .98, 0, .96);
    -moz-transition: -moz-transform 1s cubic-bezier(.07, .98, 0, .96);
    transition: transform 1s cubic-bezier(.07, .98, 0, .96);
}

#__anni_-back-to-top #__anni_-arrow-1 {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    transform: translateY(200%);
}

#__anni_-back-to-top svg {
    position: relative;
    z-index: 10;
    mix-blend-mode: difference;
}

#__anni_-back-to-top.on {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    visibility: visible;
    -webkit-transition: 1s cubic-bezier(.07, .98, 0, .96);
    -moz-transition: 1s cubic-bezier(.07, .98, 0, .96);
    transition: 1s cubic-bezier(.07, .98, 0, .96);
}

#__anni_-back-to-top {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 21px;
    bottom: 42px;
    z-index: 10000;
    visibility: hidden;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    overflow: hidden;
}

#__anni_-back-to-top path {
    fill: #fff;
}

#__anni_-back-to-top #__anni_-arrow-2 {
    position: absolute;
    top: 10px;
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    transform: translateY(200%);
    -webkit-transition: -webkit-transform 1s cubic-bezier(.07, .98, 0, .96);
    -moz-transition: -moz-transform 1s cubic-bezier(.07, .98, 0, .96);
    transition: transform 1s cubic-bezier(.07, .98, 0, .96);
}

#__anni_-back-to-top svg {
    position: relative;
    z-index: 10;
    mix-blend-mode: difference;
}

#__anni_-back-to-top.__anni_-invert>span:after {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    -webkit-transition: 1s cubic-bezier(.07, .98, 0, .96);
    -moz-transition: 1s cubic-bezier(.07, .98, 0, .96);
    transition: 1s cubic-bezier(.07, .98, 0, .96);
}

#__anni_-back-to-top>span:after {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
}

#__anni_-back-to-top>span:after,
#__anni_-back-to-top>span:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    border-radius: 50%;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#__anni_-back-to-top:hover #__anni_-arrow-2 {
    top: 16px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(.07, .98, 0, .96) .1s;
    -moz-transition: -moz-transform 1s cubic-bezier(.07, .98, 0, .96) .1s;
    transition: transform 1s cubic-bezier(.07, .98, 0, .96) .1s;
}

#__anni_-back-to-top:hover #__anni_-arrow-1 {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    transform: translateY(-200%);
}

#__anni_-back-to-top.on {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    visibility: visible;
    transition: .35s;
    -webkit-transition: 1s cubic-bezier(.07, .98, 0, .96);
    -moz-transition: 1s cubic-bezier(.07, .98, 0, .96);
    transition: 1s cubic-bezier(.07, .98, 0, .96);
}

#__anni_-back-to-top {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 21px;
    bottom: 42px;
    z-index: 10000;
    visibility: hidden;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .__anni_btn_outline {
        width: 100%;
    }

    .___section_h2,
    .__appointment .___section_h2,
    .__contact .___section_h2 {
        margin-top: 0rem;
    }

    #__anni_back-to-top {
        right: 6%;
    }

}

#__anni_-back-to-top:hover>span {
    border-radius: 0;
    -webkit-transition: border-radius 1s cubic-bezier(.07, .98, 0, .96);
    -moz-transition: border-radius 1s cubic-bezier(.07, .98, 0, .96);
    transition: border-radius 1s cubic-bezier(.07, .98, 0, .96);
}



.__anni_menu_opner_icon .st0:nth-child(1) {
    fill: red;
    height: 23;
}

/*form validation*/
.invalid {
    border-color: #dc3545;
}

.invalid_msg {
    color: #dc3545;
    font-weight: 600;
    font-family: "Source Serif Pro", serif;
    font-size: 1.125rem;
    padding-left: 1rem;

}

div[target^="invalid-feedback-"] {
    display: none;
}

#submit-alert {
    display: none;
}

footer {
    width: 100%;
    min-height: 28rem;
    background: #000;
    color: #fff;
    /*font-family: 'montserrat';*/
    font-family: "Source Serif Pro", serif;

    padding: 3rem 6rem;
}

footer>div {
    margin-bottom: 2rem;
}

footer .col-3:last-child img {
    height: 5rem;
}

footer .col-3:last-child h3 {
    margin-bottom: 2rem;
}

footer .col-3:last-child {

    text-align: center;
}

footer h3 {
    font-weight: 600;
    font-size: 2.2rem;
}

footer p,
footer a {
    font-size: 1.51rem;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

footer a:hover {
    color: #d6d6d6;
    font-weight: 600;
}

.__anni_footer-tagline {
    /*    font-family: 'Homemade Apple', cursive;*/
    font-family: 'Source Serif Pro';
    color: #fff;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*
    position: relative;
    top: -6rem;
    left: 25rem;
    -moz-transform: rotate(355deg);
    -webkit-transform: rotate(355deg);
    -o-transform: rotate(355deg);
    -ms-transform: rotate(355deg);
    transform: rotate(355deg);
    */
}

.__anni_footer-tagline span {
    font-weight: 600;
}

.__footer_form_input {
    font-family: 'Source Serif Pro';
    color: #5E5C5C;
    background: #ffffff;
    border-radius: 0;
    padding: 1rem;
    margin-bottom: 0.4rem;
    border-radius: 0;
    font-size: 1.375rem;
}

.__anni_brand_footer img {
    width: 100%;
}


@media only screen and (min-width: 1201px) and (max-width: 2560px) {
    .__anni_footer-links-section>div:last-child {

        padding-left: 5rem;
    }

    footer {
        padding-left: 17.8rem;
        padding-right: 17.8rem;
    }

}

@media only screen and (min-width: 821px) and (max-width: 1200px) {
    .__anni_footer-links-section {
        row-gap: 2rem;
    }

    .__anni_footer-tagline {
        font-size: 2.5rem;
        top: 0rem;
        left: 1rem;
    }

    footer p:last-child {
        font-size: 1rem;
    }

    .__anni_footer-links-section>div:last-child {

        padding-left: 2rem;
    }
}




@media only screen and (min-width: 768px) and (max-width: 820px) {
    footer p:last-child {
        font-size: 1rem;
    }

    .__anni_footer-tagline {
        font-size: 1.92rem;
        top: 0rem;
        left: 1rem;
    }

    footer h3 {
        font-weight: 600;
        font-size: 2.06rem;
    }

    footer p,
    footer a {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 707px) and (max-width: 767px) {
    .__anni_footer-tagline {
        font-size: 2rem;
    }

    footer p:last-child {
        font-size: 1rem;
    }

    .__anni_footer-links-section {
        row-gap: 2rem;
    }
}

@media only screen and (min-width: 420px) and (max-width: 706px) {
    .__anni_footer-tagline {
        font-size: 1.29rem;
    }

    footer p:last-child {
        font-size: 1rem;
    }

    .__anni_footer-links-section {
        row-gap: 2rem;
    }

}

@media only screen and (min-width: 360px) and (max-width: 419px) {
    .__anni_footer-links-section {
        row-gap: 2rem;
    }

    footer {
        padding: 6rem 2rem;
    }

    .__anni_footer-links-section>div:last-child div {
        justify-content: center;
    }

    .__anni_footer-links-section {
        row-gap: 2rem;
        text-align: center;
    }

    footer h3 {

        font-size: 2.2rem;
    }

    .__anni_footer-tagline {
        font-size: 1.29rem;

    }

    .__anni_footer-tagline span {
        text-align: center;
    }

    .__anni_brand_footer img {
        width: 100%;
    }

}

.__contact_form_footer {
    margin-right: 0.15rem;
    border-radius: 0;
    width: 100%;
    height: 4.5rem;
    color: #000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1875rem;
    line-height: 24px;
    /* identical to box height, or 126% */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: #fff;
    border-color: #fff;

}


.normal-underline,
.custom_underline_footer {
    position: relative;
    display: inline-block;
    line-height: 4rem;


}

.custom_underline_footer,
.custom_underline_footer:hover {
    /*border-bottom: dotted 0.125rem #000;*/
}

.custom_underline_footer,
.custom_underline_footer:hover,
.custom_underline_footer:focus,
.custom_underline_footer:active {
    color: #000;

}

.custom_underline_footer::after {
    content: "";
    position: absolute;
}


.box_e .custom_underline_footer::after {
    top: 65%;
    height: 2px;
    width: 0%;
    left: 0%;
    border-bottom: dotted 0.125rem #000;
    transition: 0.5s ease all .3s;
}

.box_e:hover .custom_underline_footer::after {
    width: 100%;
    transition: 0.3s ease all reverse;
}

/***overflow portfolio imgs ****/
.__anni__wholove_portfolio_client,
.__anni__wholove_portfolio_client_right {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
}

.__anni__wholove_portfolio_client_right {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    padding-right: 0.7rem;
    overflow: hidden;

}

.__anni_welove_client_work {
    width: 18.0625rem;
    height: 12.5rem;
    background-color: #fff;
    border: solid #000 0.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__anni__wholove_portfolio_client div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.__anni__wholove_portfolio_client>div a {
    text-decoration: none;
    color: black;
}

.__anni__wholove_portfolio_client div a,
.__anni__wholove_portfolio_client_right div a {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}



.__anni_welove_client_work {
    width: 18.0625rem;
    height: 12.5rem;
    background-color: #fff;
    border: solid #000 0.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__anni_welove_client_work img {
    width: 100%;
}

.__anni_welove_portfolio_square_img img {
    height: 100%;
    width: auto;
}

.__anni_wholove_client figure {
    margin: 0;
}

.__anni_welove_client_work img {
    width: 100%;
}

@media screen and (max-width: 1988px) {
    .__anni_welove_client_work {
        width: 23.5625rem;
        height: 16.7rem;
    }

    .__anni_welove_client_work {
        width: 23.5625rem;
        height: 16.7rem;
    }
}

@media screen and (max-width: 1708px) {


    .__anni_welove_client_work {
        width: 18.5625rem;
        height: 12.7rem;
    }


}

@media screen and (max-width: 1520px) {
    .__anni_welove_client_work {
        width: 16.5625rem;
        height: 11.7rem;
        margin-top: 0rem;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {

    .__anni_welove_client_work {
        margin-top: 0rem;
        margin-bottom: 0;
    }

    .__anni_welove_client_work {
        width: 14.5625rem;
        height: 11.7rem;
    }

}

@media screen and (max-width: 992px) {

    .__anni__wholove_portfolio_client div,
    .__anni_portfolio_list .__anni__wholove_portfolio_client {
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .__anni_welove_client_work {
        margin-top: 0rem;
        margin-bottom: 0;
        width: 20.5625rem;
        height: 12.7rem;
        margin-bottom: 1rem;
    }
}


@media only screen and (max-width: 799px) {
    .__anni_welove_client_work {
        width: 18.5625rem;
        height: 13.7rem;
    }


    .__anni_welove_client_work img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .__anni_welove_client_work {
        width: 15.5625rem;
        height: 8.7rem;
    }

    .__anni_welove_client_work {
        width: 18.5625rem;
        height: 10.7rem;
        margin-bottom: 1rem;

    }

    .__anni__wholove_portfolio_client,
    .__anni__wholove_portfolio_client_right {

        padding-left: 2rem;
        padding-right: 2rem;
    }

    .__anni_welove_client_work figure {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
        border: solid #000 0.0625rem;
        width: 10.0625rem;
        height: 7.5rem;
        margin-bottom: 2rem;
        margin-left: 0;
        /* margin-right: 5rem; */
    }
}

@media screen and (max-width: 512px) {


    .__anni_welove_client_work {
        width: 12.5625rem;
        height: 6.7rem;
        margin-bottom: 1rem;
    }
}