.home {
    background: url(/assets/img/Evening.png) cover no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 810px) {
    .__anni_home_content {
        height: 75vh;
    }

    .home {
        height: 75vh;
    }
}

#greeting {
    font-size: 7rem;
}

@media screen and (max-width: 480px) {
    #greeting {
        font-size: 2rem;
    }


}

/*home*/
.__anni_navbar_container {
    height: 100vh;
    width: 100%;
}

.home h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 121px;
    line-height: 147px;
    text-align: center;
    font-size: 7em;
    color: #fff;
    text-transform: uppercase;
}

/*01 welove*/
.__welove {
    height: 25rem;
    padding: 5rem 8rem;
    overflow: hidden;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .__welove {
        height: 40vh;
        padding: 2rem 1rem;

    }
}


/*02 showourlove*/
.__showourlove {
    background: url('/assets/img/Frame1.png');
    height: 100%;
    padding: 5rem 8rem;
    width: 100%;

}

.__anni_show_list_item {
    list-style: none;
    font-family: 'Source Serif Pro';
    font-size: 4rem;
    z-index: 5;
    position: relative;
    line-height: .7;
    padding-left: 0;
    display: block;
}

.__anni_show_list_item a {
    text-decoration: none;
    color: #000;

}

.__anni_show_list_item:hover {
    font-weight: 700;
}

.__anni_show_list_item>span {
    z-index: 1;
    position: relative;
    z-index: -1;
    top: 75px;
    left: -20px;
}

@media screen and (max-width: 768px) {

    .__anni_show_list_item p {
        font-size: 3rem;
    }

}

@media screen and (max-width: 768px) {
    .__showourlove {
        height: 100%;
        padding: 4rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}



/*03 wholove*/
.__wholove {
    height: 100%;
    padding: 5rem;
    padding: 5rem 8rem;
    overflow: hidden;

}

.__anni_wholove_client {
    font-family: 'Source Serif Pro';

}

.__anni_wholove_client h3 {

    font-size: 1.2rem;
}

.__anni_wholove_client h2 {
    font-weight: 600;
    font-size: 2rem;
}

.__anni_wholove_client div {
    display: flex;
    justify-content: center;

}

.__anni_wholove_client_text {
    display: flex;
    flex-direction: column;
}

.__anni__wholove_portfolio_client {
    overflow: visible;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    position: block;
}


.__anni_wholove_bg_client_name {
    line-height: 1;
    font-weight: 400;
    font-size: 15rem;
    color: #D9D9D9;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -100px;
    top: -60%;
    z-index: -1;


}


.__anni_welove_client_img:hover {
    filter: grayscale(0%);
    

}

.__anni_welove_client_img {
    filter: grayscale(100%);
    transition:  1s ease-out ;
}

.__anni_welove_client_work {
    margin-top: 2rem;
}

.__anni_welove_client_work_descrip {

    top: 0;
    z-index: 2;
    background: #000;
    color: #fff;
    width: 100%;
}

.__anni__wholove_portfolio_client>div {
    margin-top: 8rem;
}



@media screen and (max-width: 1365px) {
    .__anni_wholove_bg_client_name {
        font-size: 6rem;
        top: -104%;
        right: 0;
    }

    .__anni_wholove_client_on_right_name {
        font-size: 6rem;
        top: -110%;
        right: 0;
    }

    .__anni__wholove_portfolio_client div {
        display: inline-flex;
        flex-direction: row;
        flex-flow: wrap;
        margin-top: 0;
    }

    .__anni__wholove_portfolio_client div figure {
        height: fit-content;
    }

    .__anni__wholove_portfolio_client div figure img {
        width: 35vw;
    }
}

@media screen and (min-width: 1365px) {
    .__anni_wholove_client_on_right_name {
        font-size: 12rem;
        top: -58%;
    }

    .__anni_wholove_bg_client_name {
        font-size: 12rem;
        top: -58%;
        right: -12px;
    }
}

@media screen and (max-width: 768px) {
    .__anni_wholove_bg_client_name {
        font-size: 5rem;
        left: -9px;
        top: -56%;
    }

    .__anni_wholove_client_on_right_name {
        top: -70%;

        font-size: 5rem;

    }

    .__anni__wholove_portfolio_client div {
        display: inline-flex;
        flex-direction: row;
        flex-flow: wrap;
        margin-top: 0;
        height: min-content;
    }

    .__anni__wholove_portfolio_client div figure {
        height: fit-content;
    }

    .__anni__wholove_portfolio_client div figure img {
        width: 45vw;
    }
}

@media screen and (max-width: 992px) {
    .__anni_wholove_client_on_right_img {
        order: -1;
    }
}

@media screen and (max-width: 768px) {
    .__wholove {
        height: 100%;
        padding: 2rem 1rem;

    }

    .__anni__wholove_portfolio_client div figure img {
        width: 45vw;
    }
}

@media screen and (max-width: 512px) {
    .__anni_welove_client_img img {
        width: 80vw;
    }

    .__anni_wholove_client_on_right_name {}

    .__anni_wholove_bg_client_name {
        font-size: 5rem;
        left: -9px;
        top: -70%
    }

}

/* 04 appointment */
.__appointment {
    height: 100%;
    background: url(/assets/img/Frame1.png);
    padding: 5rem 8rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .__appointment {
        height: 100%;
        padding: 2rem 1rem;

    }

    .__welove_content img {
        width: 85vw;
    }
}

/* 05 FAQ */
.__anni_faq_area {
    position: relative;
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color .2s ease-out, background-color .2s ease-out;
    -moz-transition: color .2s ease-out, background-color .2s ease-out;
    transition: color .2s ease-out, background-color .2s ease-out;
}


.__anni_plus-acc g rect {
    fill: #fff;

}

.__anni_faq_area>p {

    display: block;
    justify-content: space-around;
}

.__FAQ {
    height: 100%;
    padding: 5rem 8rem;
}

@media screen and (max-width: 768px) {
    .__FAQ {
        height: 100%;
        padding: 2rem 1rem;
    }

}

.__anni_answer {
    font-family: 'Source Serif Pro';
}

.__anni_faq_btn {
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    text-align: left;
    font-family: 'Source Serif Pro';

}

.__anni_toggle_faq {
    display: flex;
    flex-direction: column;
}

.__anni_faq_btn:hover,
.__anni_faq_btn:active {
    background: #2DB9B8;
    color: #000;
    border: #2DB9B8;
}

.__anni_faq_btn>span {
    text-align: right;
}

.__anni_answer {
    margin-bottom: 1rem;
}

.__anni_answer .card-body {
    border-radius: 0;
    border: none;
    border-top: dotted 1px;
}


.__anni_faq_area:hover .__anni-acc-open {
    -webkit-animation: rotate .5s cubic-bezier(0.60, 1, 0.70, 0) 0s 1 normal;
    -moz-animation: rotate .5s cubic-bezier(0.60, 1, 0.70, 0) 0s 1 normal;
    -ms-animation: rotate .5s cubic-bezier(0.60, 1, 0.70, 0) 0s 1 normal;
    animation: rotate .5s cubic-bezier(0.60, 1, 0.70, 0) 0s 1 normal;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(180deg);
    }
}
.__anni-acc-open svg g  rect{
    fill: #fff;
}
.__anni-acc-open{

        display: block;
        height: 25px;
        width: 25px;
        -webkit-transition: -webkit-transform .6s cubic-bezier(.07,.98,0,.96);
        -moz-transition: -moz-transform .6s cubic-bezier(.07,.98,0,.96);
        transition: transform .6s cubic-bezier(.07,.98,0,.96);
      
}
.mkdf-acc-close {
    background: #fff;
    border-radius: 50%;
    display: block;
    height: 6px;
    left: calc(50% - 3px);
    opacity: 0;
    position: absolute;
    top: calc(50% - 3px);
    width: 6px;
  }

/*06 contact*/
.__contact {
    height: 100%;
    background: url('/assets/img/Frame1.png');
    padding: 5rem 8rem;
    padding-bottom: 8rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .__contact {
        height: 100%;
        padding: 2rem 1rem;

    }
}

/*form*/
.__contact_form {
    padding-top: 5rem;
}

.__contact_form_input,
.__contact_form_textarea {
    font-family: 'Source Serif Pro';
    color: #5E5C5C;
    background: #D9D9D9;
    border-radius: 0;
    padding: 1rem;
    margin: .3rem;
    border-radius: 0;
}

.__contact_form_submit {

    border-radius: 0;
    width: 218px;
    height: 72px;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    /* identical to box height, or 126% */

    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: #000000;
    border-color: #000;
}

.normal-underline,
.custom_underline {
    position: relative;
    display: inline-block;
    line-height: 4rem;
    

}

.custom-underline,
.custom-underline:hover {

    border-bottom: dotted 2px #fff;
    /*text-decoration: underline;*/
}

.custom_underline,
.custom_underline:hover,
.custom_underline:focus,
.custom_underline:active {
    color: #fff;

}

.custom_underline::after {
    content: "";
    position: absolute;
}

.__contact_form_submit:hover {

    background-color: #000;
    border-color: #000;

}

.box_e .custom_underline::after {
    top: 65%;
    height: 2px;
    width: 0%;
    left: 0%;
    border-bottom: dotted 2px #fff;
    transition: 0.5s ease all .3s;
}

.box_e:hover .custom_underline::after {
    width: 100%;
    transition: 0.3s ease all reverse;
}


/**************/
/*------------------------------------*/
/*------ Basic Underline Styles ------*/
/*------------------------------------*/

.normal-underline_invert,
.custom-underline_invert {
    position: relative;
    display: inline-block;
    line-height: 4rem;


    text-align: center;
}

.normal-underline_invert,
.normal-underline_invert:hover {
    color: #000;
    text-decoration: underline;
}

.custom-underline_invert,
.custom-underline_invert:hover,
.custom-underline_invert:focus,
.custom-underline_invert:active {
    color: #000;
    text-decoration: none;


}

.custom-underline_invert::after {
    content: "";
    position: absolute;
}




/*--- Red Box (box-e) ---*/
.box-e_invert .custom-underline_invert::after {
    top: 65%;
    height: 2px;
    width: -0%;
    left: 0%;
    border-bottom: dotted 2px #000;

    transition: 0.5s ease all .3s;
}

.box-e_invert:hover .custom-underline_invert::after {
    width: 100%;
    transition: 0.3s ease all;
}